* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.main-title {
    padding-bottom: 1rem;
}

.jumbo {
    width: 30%;
}